doctype html
html(lang="en")
  head
    title Serverless demo
    meta(charset="utf-8")
    link(href='css/base.css', rel='stylesheet')
  body
    h1 Serverless demo

    pre(id='output')

    script(src="js/app.js")
